.container-carrito-footer {
    border-radius: 4px;
    background-color: var(--container-color);
    padding: 24px 23px 24px 24px;
    height: calc(216px - 48px);
    width: calc(100% - 47px);
    position: absolute;
    bottom: 0;
}

.titles-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-carrito-footer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*desktop view*/
@media screen and (min-width: 992px) { /*vista desktop*/
    .container-carrito-footer {
        width: 551px;
        height: calc(156px - 48px);
    }

    .container-carrito-footer-buttons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}