.container-carrito-footer {
    border-radius: 4px;
    background-color: var(--container-color);
    padding: 6px 5px 6px 6px;
    height: calc(184px - 16px);
    width: calc(100% - 47px);
    position: fixed;
    bottom: 68px;
    margin: 8px auto 0 auto;
    border: 2px solid var(--scroll-bar-color);
}

.carrito-footer-horizontal-alinineation {
    left: 16px;
}

.titles-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-carrito-footer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*desktop view*/
@media screen and (min-width: 600px) { /*vista desktop*/
    .container-carrito-footer {
        width: calc(551px - 48px);
        height: calc(156px - 47px);
    }

    .container-carrito-footer-buttons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}