.container-item {
    border-radius: 4px;
    background-color: var(--container-color);
    padding: 6px 5px 6px 6px;
    border: 2px solid var(--text-color);
    margin: 8px auto 0 auto;
    height: calc(435px - 48px);
    width: calc(100% - 47px);
}

.container-food {
    height: calc(435px - 48px - 40px);
}

.container-item-without-detail {
    height: calc(435px - 48px - 172px);
}

.container-carrito {
    height: calc(151px - 16px);
}

.container-photo-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo-description {
    width: calc(100% - 125px - 12px);
}

.space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    position: absolute;
    bottom: 16px;
    width: calc(100% - 47px);
}

.carrito-options {
    margin-left: calc(125px + 12px);
    width: calc(100% - 125px - 12px - 47px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrito-change-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    border: 2px solid black;
    border-radius: 4px;
}

.titles-item-space {
    margin: 16px 0;
}

.text-centralized {
    text-align: center;
}

.item-description {
    height: 44px;
}

/*desktop view*/
@media screen and (min-width: 600px) { /*vista desktop*/
    .container-item {
        height: calc(447px - 48px);
        width: calc(551px - 47px);
    }

    .container-food {
        height: calc(447px - 48px - 40px);
    }
    
    .container-item-without-detail {
        height: calc(447px - 48px - 172px);
    }

    .container-carrito {
        height: calc(151px - 16px + 12px);
    }

    .desktop-centralized {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}