.container-location-info {
    border-radius: 4px;
    border: 2px solid var(--text-color);
    background-color: var(--container-color);
    padding: 6px 5px 6px 6px;
    height: calc(136px - 48px);
    width: calc(100% - 47px);
    margin: 8px auto 0 auto;
}

/*desktop view*/
@media screen and (min-width: 600px) { /*vista desktop*/
    .container-location-info {
        height: calc(148px - 48px);
        width: calc(551px - 47px);
        margin: 8px 0 0 0;
    }
}