.container-food-info {
    border-radius: 4px;
    background-color: var(--container-color);
    padding: 6px 5px 6px 6px;
    height: calc(136px - 48px);
    width: calc(100% - 47px);
    margin: 8px auto 0 auto;
    border: 2px solid var(--text-color);
}

/*desktop view*/
@media screen and (min-width: 600px) { /*vista desktop*/
    .container-food-info {
        height: calc(148px - 48px);
        width: calc(551px - 47px);
    }

    .ingredient-inline {
        display: inline;
        width: 150px;
    }

}