.container-slider-products-info {
    border-radius: 4px;
    background-color: var(--container-color);
    padding: 6px 5px 6px 6px;
    height: calc(307px - 48px);
    width: calc(100% - 47px);
    margin: 8px auto 0 auto;
    border: 2px solid var(--text-color);
}

.container-slider-products-data {
    width: 100%;
    overflow-x: auto;
}

.slider-products-data {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.slider-product-number-item {
    width: 50px;
}

.slider-product-number-item:hover {
    cursor: pointer;
}

.slider-product-data {
    width: 100%;
}

.container-slider-product-data-categories {
    height: calc(36px - 16px);
}

.container-slider-product-arrow {
    height: 26px;
}

.container-slider-product-data {
    height: 26px;
}

/*desktop view*/
@media screen and (min-width: 600px) { /*vista desktop*/
    .container-slider-products-info {
        height: 340px;
    }

    .container-slider-products-categories-top {
        position: absolute;
        top: 0;
        left: 300px;
        width: 300px;
        height: 36px;
        padding: 0;
    }

    .slider-products-data {
        width: 2200px;
    }
}