.icon {
    margin: 0 12px;
    width: 24px;
    height: 24px;
}

.icon-color {
    color: var(--primary-color);
}

.logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.Logo {
    background-image: url("../../images/others/logo.png");
}

/*
.rotate-vertical {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

.rotate-horizontal {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

.rotate-vertical-horizontal {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
}
*/
.rotate-percentage {
    transform:rotate(40deg);
    -ms-transform:rotate(40deg);
    -webkit-transform:rotate(40deg);
}