div.image {
    width: 233px;
    height: 175px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*object-fit: contain; */
}

.image-centralized {
    margin: 0 auto;
}

.image-centralized.divider {
    margin-top: 16px;
}

.image-centralized.short-divider {
    margin-top: 8px;
}

div.image.big.food {
    width: 233px;
    height: 175px;
}

div.image.small.food {
    width: 125px;
    height: 93.75px;
}

div.image.big.promotion {
    width: 288.75px;
    height: 175px;
}

div.image.small.promotion {
    width: 125px;
    height: 75.75px;
}

.image-sticker {
    width: 70px;
    height: 50px;
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 100px;
    position: absolute;
    right: 0px;
    top: 0;

}

.image-sticker-small {
    width: 40px;
    height: 30px;
}

div.image.Donut{
    background-image: url("../../images/food/Donut.png");
}

div.image.EnsCaesar{
    background-image: url("../../images/food/EnsCaesar.png");
}

div.image.EnsYamani{
    background-image: url("../../images/food/EnsYamani.png");
}

div.image.Medialuna{
    background-image: url("../../images/food/Medialuna.png");
}

div.image.MedialunaJyQ{
    background-image: url("../../images/food/MedialunaJyQ.png");
}

div.image.MegaBaconDoble{
    background-image: url("../../images/food/MegaBaconDoble.png");
}

div.image.MegaBaconSimple{
    background-image: url("../../images/food/MegaBaconSimple.png");
}

div.image.MegaBoomDoble{
    background-image: url("../../images/food/MegaBoomDoble.png");
}

div.image.MegaCuarto{
    background-image: url("../../images/food/MegaCuarto.png");
}

div.image.MegaDeluxeBaconDoble{
    background-image: url("../../images/food/MegaDeluxeBaconDoble.png");
}

div.image.MegaPolloGrillCheddar{
    background-image: url("../../images/food/MegaPolloGrillCheddar.png");
}

div.image.Nuggets{
    background-image: url("../../images/food/Nuggets.png");
}

div.image.NuggetsCheddarBacon{
    background-image: url("../../images/food/NuggetsCheddarBacon.png");
}

div.image.TostadoJyQ{
    background-image: url("../../images/food/TostadoJyQ.png");
}

div.image.TostadoNapolitano{
    background-image: url("../../images/food/TostadoNapolitano.png");
}

div.image.TostadoSimpleJyQ{
    background-image: url("../../images/food/TostadoSimpleJyQ.png");
}




div.image.Combo{
    background-image: url("../../images/promotions/2Combo.png");
}

div.image.ComboWhopper{
    background-image: url("../../images/promotions/2ComboWhopper.png");
}

div.image.ComboCafeFactura{
    background-image: url("../../images/promotions/ComboCafeFactura.png");
}

div.image.ComboEnsalada{
    background-image: url("../../images/promotions/ComboEnsalada.png");
}

div.image.TripleDoblePapas{
    background-image: url("../../images/promotions/TripleDoblePapas.png");
}

div.image.TriplePapas{
    background-image: url("../../images/promotions/TriplePapas.png");
}